body {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #effcff;
  }
  
  .container {
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .link {
    font-size: 40px;
    color: #5889aa;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #2980b9;
  }
  