body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9e8ca;
}

.container {
    text-align: center;
}

h1 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 22px;
}

#breeds {
    margin-bottom: 24px;
    padding: 9px;
    font-size: 24px;
}

#dogImageContainer {
    margin-bottom: 20px;
}

#dogImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #d99740;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}

button:hover {
    background-color: #f29d2e;
}
